.board {
	position			:	fixed;
	z-index				:	999;
	background			:	#e0edff;
	border-radius		:	10px;
	border				:	5px;
	border-style		:	solid;
	border-color		:	gray;
	line-height			:	30px;
	padding-inline		: 	10px;
	text-align			:	center;
	color				:	black;
	font-family			:	Arial;
	font-weight			:	bold;
	margin				:	10px;
}
.dialog {
	background			:	#e0edff;
	border-radius		:	10px;
	border				:	5px;
	border-style		:	solid;
	border-color		:	gray;
	line-height			:	30px;
	padding-inline		: 	10px;
	white-space			:	pre-wrap;
	text-align			:	center;
	color				:	black;
	font-family			:	Arial;
	font-weight			:	bold;
	margin				:	10px;
}
.dialogTitle {
	text-align			:	center;
	color				:	black;
	font-weight			:	bold;
	font-size			:	16px;
	margin				:	20px;
}
.dialogContent {
	text-align			:	left;
	color				:	black;
	line-height			:	15px;
	font-size			:	8px;
	margin				:	10px;
}
.choice {
	background			:	#e0edff;
	display				:	block;
	border-radius		:	10px;
	border				:	3px;
	border-style		:	solid;
	border-color		:	gray;
	line-height			:	20px;
	padding-inline		: 	10px;
	text-align			:	left;
	color				:	black;
	font-family			:	Arial;
	font-size			:	8px;
	margin				:	5px;
}
.choiceSelected {
	background			:	#e0edff;
	display				:	block;
	border-radius		:	10px;
	border				:	3px;
	border-style		:	solid;
	border-color		:	rgb(65, 65, 65);
	line-height			:	20px;
	padding-inline		: 	10px;
	text-align			:	left;
	color				:	black;
	font-family			:	Arial;
	font-size			:	8px;
	margin				:	5px;
}
.choiceTraitEText {
	display				:	inline-block;
	text-align			:	left;
	color				:	black;
	font-family			:	Arial;
	font-size			:	8px;
}
.choiceTraitTText {
	display				:	inline-block;
	text-align			:	left;
	color				:	#2969b3;
	font-family			:	Arial;
	font-size			:	8px;
	margin-left			:	5px;
}
.button {
	background			:	#e0edff;
	display				:	inline-block;
	border-radius		:	10px;
	border				:	5px;
	border-style		:	solid;
	border-color		:	gray;
	line-height			:	30px;
	padding-inline		: 	10px;
	text-align			:	center;
	color				:	black;
	font-family			:	Arial;
	font-weight			:	bold;
	margin				:	10px;
}
.barDeselect {
	background			:	#3d495b;
	border-radius		:	10px;
	border				:	5px;
	border-style		:	solid;
	border-color		:	gray;
	line-height			:	30px;
	padding-inline		: 	10px;
	text-align			:	center;
	color				:	white;
	font-size			:	10px;
	font-family			:	Arial;
	font-weight			:	bold;
	margin				:	10px;
}
.barSelect {
	background			:	#6e7e96;
	border-radius		:	10px;
	border				:	5px;
	border-style		:	solid;
	border-color		:	gray;
	line-height			:	30px;
	padding-inline		: 	10px;
	text-align			:	center;
	color				:	white;
	font-size			:	11px;
	font-family			:	Arial;
	font-weight			:	bold;
	margin				:	10px;
}